<!DOCTYPE html>
<html>
<head>
	<title>Thông Tin Đơn Hàng Của Khách Hàng:{{CustomerName}}</title>
</head>
<body>
    THÔNG TIN ĐƠN HÀNG <br />
    Họ và tên: {{CustomerName}} <br>
    Điện thoại : {{Phone}} <br>
    Email : {{Email}} <br>
    Địa chỉ : {{Address}} <br>
    Sản phẩm : {{NameProduct}} × {{soluong}} <br />
    Trị giá đơn hàng : {{Total}} VNĐ<br>
    Cảm ơn quý khách đã luôn tin tưởng và ủng hộ SWE !!! <br />
    Nếu bạn có bất cứ câu hỏi nào, đừng ngần ngại liên lạc với chúng tôi tại truongviethieu98@gmail.com
</body>
</html>