@model ShopSWE.Models.Enity.Sanpham1
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Detail</h2>

    <tr>
        <td>@Model.Name</td>
        <td>@Model.Price</td>
        <td>@Model.Img</td>
        <td>@Model.Img2</td>
    </tr>

